:root {
  --color-light: #EEF7FF;
  --color-medium: #4D869C;
  --color-dark: #23323f;
  --color-darkest: #4D869C;
  --color-theme: #1098ad;
  --color-accent: #ffffff;
  --color-select: rgb(122, 178, 178);
  --color-wrong: #EEF7FF;
}

@import url("https://fonts.googleapis.com/css2?family=Codystar&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  min-height: 100vh;
  color: var(--color-light);
  background: linear-gradient(to bottom, var(--color-darkest), var(--color-theme));
  padding: 3rem;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main {
  width: 50%;
  max-width: 1200px;
}

.app-header {
  width: 100%;
  max-width: 85rem;
  margin-bottom: 4rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

}

.error {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 2rem;
  background-color: #495057;
  border-radius: 10px;
}

img {
  width: 15rem;
}

h1 {
  font-family: "Codystar";
  font-size: 5.6rem;
  color: var(--color-light);
}

h2 {
  font-size: 3.6rem;
  margin-bottom: 2rem;
  color: var(--color-dark);
}

h3 {
  font-size: 2.4rem;
  color: var(--color-dark);
  font-weight: 600;
  margin-bottom: 4rem;
}

h4 {
  font-size: 2.5rem;
  margin-bottom: 2.5rem;
  color: var(--color-dark);
}

.start {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progress {
  margin-bottom: 4rem;
  display: grid;
  justify-content: space-between;
  gap: 1.5rem;
  grid-template-columns: auto auto;
  font-size: 2rem;
}

progress {
  -webkit-appearance: none;
  width: 100%;
  height: 1rem;
  grid-column: 1 / -1;
}

::-webkit-progress-bar {
  background-color: var(--color-accent);
  border-radius: 100px;
}

::-webkit-progress-value {
  background-color: var(--color-dark);
  border-radius: 100px;
}

.btn {
  display: block;
  font-family: inherit;
  color: inherit;
  font-size: 2rem;
  border: 2px solid var(--color-light);
  background-color: var(--color-light);
  color: var(--color-dark);
  padding: 1.2rem 2.4rem;
  cursor: pointer;
  border-radius: 100px;
  transition: all 0.3s;
}

.btn:not([disabled]):hover {
  color: var(--color-light);
  background-color: var(--color-dark);
  border-color: var(--color-dark);
  transform: scale(1.1);
}

.btn:not([disabled]):active {
  background-color: var(--color-medium);
  border-color: var(--color-medium);
  transform: scale(0.95);
}

.btn-option:not([disabled]):hover {
  transform: translateX(3rem);
}

.btn[disabled]:hover {
  cursor: not-allowed;
}

.btn-ui {
  float: right;
  margin-top: 3rem;
  background-color: var(--color-dark);
  color: var(--color-light);
  border-color: var(--color-dark);
}

.options {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 80%;
  margin: 0 auto;
}

.btn-option {
  width: 100%;
  text-align: left;
  border-color: var(--color-medium);
}

.btn-option.correct {
  background-color: var(--color-select);
  border: 2px solid var(--color-select);
  color: var(--color-light);
  box-shadow: 0 5px 10px rgba(122, 178, 178, 0.2);
  transform: scale(1.05);
  transform: translateX(3rem);
}

.answer {
  color: var(--color-light);
  border: 2px solid var(--color-dark);
  background-color: var(--color-dark);
}

.result {
  border: 1px solid var(--color-light);
  box-shadow: 0 5px 10px rgba(122, 178, 178, 0.2);
  background-color: var(--color-select);
  color: var(--color-light);
  border-radius: 10px;
  text-align: center;
  padding: 2rem;
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 1.6rem;
}

.result span {
  font-size: 3.5rem;
  margin-right: 1rem;
}

.highscore {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 5rem;
  color: var(--color-dark);
  font-weight: 700;
}

.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
  gap: 1.6rem;
  color: var(--color-medium);
  font-size: 1.4rem;
}

.timer {
  margin-top: 3rem;
  float: left;
  font-size: 1.8rem;
  color: var(--color-light);
  border: 2px solid var(--color-light);
  padding: 1.35rem 2.8rem;
  border-radius: 10rem;
}

/* CREDIT: https://dev.to/afif/i-made-100-css-loaders-for-your-next-project-4eje */
.loader {
  width: 50px;
  height: 24px;
  background: radial-gradient(circle closest-side, currentColor 90%, #0000) 0% 50%,
    radial-gradient(circle closest-side, currentColor 90%, #0000) 50% 50%,
    radial-gradient(circle closest-side, currentColor 90%, #0000) 100% 50%;
  background-size: calc(100% / 3) 12px;
  background-repeat: no-repeat;
  animation: loader 1s infinite linear;
}

@keyframes loader {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }

  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }

  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }

  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}

/* Responsive Styles */
@media (max-width: 1200px) {

  .main {
    width: 90%;
  }

  .app-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  img {
    width: 10rem;
  }

  h1 {
    font-size: 4.5rem;
  }

  h2 {
    font-size: 3rem;
    text-align: center;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.8rem;
  }

  .btn {
    font-size: 1.8rem;
    padding: 0.8rem 1.6rem;
  }

  .timer {
    font-size: 1.6rem;
    padding: 0.8rem 1.6rem;
  }

  .result {
    font-size: 1.8rem;
    padding: 1rem;
  }

  .result span {
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  .main {
    width: 90%;
  }

  .app-header {
    width: 90%;
  }

  h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.8rem;
  }

  h4 {
    font-size: 1.6rem;
  }

  .btn {
    font-size: 1.6rem;
    padding: 0.6rem 1.2rem;
  }

  .timer {
    font-size: 1.4rem;
    padding: 0.6rem 1.2rem;
  }

  .result {
    font-size: 1.6rem;
    padding: 0.8rem;
  }

  .result span {
    font-size: 1.8rem;
  }
}

@media (max-width: 480px) {
  .main {
    width: 100%;
  }

  .app-header {
    width: 100%;
  }

  h1 {
    font-size: 2.2rem;
  }

  h2 {
    text-align: center;
    font-size: 2rem;
  }

  h3 {
    font-size: 1.6rem;
  }

  h4 {
    font-size: 1.4rem;
  }

  .app-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  img {
    width: 8rem;
  }

  .btn {
    font-size: 1.4rem;
    padding: 0.5rem 1rem;
  }

  .timer {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
  }

  .result {
    font-size: 1.4rem;
    padding: 0.6rem;
  }

  .result span {
    font-size: 1.6rem;
  }
}